{{!--Chart container--}}
<div id="container" style="min-width: 400px; height:auto; margin: 0 auto">

<br>
<p>The purpose of the AQI is to help you understand what local air quality means to your health. 
  The AQI is calculated for four major air pollutants regulated by the Clean Air Act: 
  ground level ozone, particle pollution, carbon monoxide, and sulfur dioxide. 
  To make it easier to understand, the AQI is divided into six categories: </p>


<body><table width="100%">
  <tbody>
    <tr>
        <th width="25%">AQI Values</th>
        <th width="25%">Levels of Health Concern</th>        
    </tr>
    <tr>
      <td width="25%" class="aqi-green">0 - 50</td>
      <td width="75%" class="aqi-green">GOOD</td>
    </tr>
    <tr>
      <td width="25%" class="aqi-yellow">51 - 100</td>
      <td width="75%" class="aqi-yellow">MODERATE</td>
    </tr>
    <tr>
      <td width="25%" class="aqi-orange">101 - 150</td>
      <td width="75%" class="aqi-orange">UNHEALTHY FOR SENSITIVE GROUPS</td>
    </tr>
    <tr>
      <td width="25%" class="aqi-red" >151 - 200</td>
      <td width="75%" class="aqi-red">UNHEALTHY</td>
    </tr>
    <tr>
      <td width="25%" class="aqi-purple">201 - 300</td>
      <td width="75%" class="aqi-purple">VERY UNHEALTHY</td>
    </tr>
    <tr>
      <td width="25%" class="aqi-maroon">301 - 500</td>
      <td width="75%" class="aqi-maroon">HAZARDOUS</td>
    </tr>    
  </tbody>
</table>
</div>