<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            <a class="white-text text-lighten-3" href="https://github.com/GeekInterrupted/Project-WE">Project WE in Github</a>
        </div>
    </div>
</footer>