{{!--Navbar--}}
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper container center">
    <a href="/" class="brand-logo center"><img src="assets/img/we.png" width="170px" height="95px" alt="Project WE"></a>
    <ul class="right hide-on-med-and-down">
         <li><a href="/index-bell">newregister</a></li>
        <li><a href="/ranks">ranks(json)</a></li>
        <li><a href="/rankbycity">test link</a></li>
       <li><a href="/test"><i class="material-icons right">person</i>Login</a></li>
       <li><a href="/register"><i class="material-icons right">person</i>Login</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
        <li><a href="http://google.com">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>