{{> navbar}}
<br><br><br>


       
{{!--main container --note to self: do not change class name or everything will go catawumpus!--}}
<div class="container"> 
{{!--chart contaniner -- do not change id name (refer to comment above--}}
<div id="container-ranks" style="height: 800px">
<br>
<div class="row">
<div class="col s12 m12">



</div>
</div>
</div>
</div>





<!--  Scripts-->

<script src="assets/js/rankbycity.js"></script>









      




